/* -------- Typefaces -------- */

/*- Testing Fonts -*/


@font-face {
font-family: drona;
src: url(../fonts/Quantarooda.ttf) format("truetype");
}



/* -------- Testing Fonts -------- */

.source-sans {
font-family: barlow;
}

.roboto {
font-family: roboto;
}

.awaragira {
font-family: "awaragira";
}

.awaragira-light {
font-family: "awaragira-light";
letter-spacing: -0.2px;
}

.malithi {
font-family: malithi;
}

p.noto {
font-family: noto;
font-size: 13.5px;
line-height: 1.5em;
}

p.noto-semicond {
font-family: noto-semicond;
font-size: 13.5px;
line-height: 1.5em;
}

.yaldevi {
font-family: yaldevi;
}

/* -------- Font Title -------- */

.font-name-title h1.drona {
    font-family: drona;
    font-size: 128px;
    font-weight: 400;
    line-height: 1em;;
    margin: 40px 0 50px 0;
  }

@media(max-width: 540px) {
    .font-name-title h1.drona {
      font-size: 21.4vw;
    }
}

/* -------- Test Phrase -------- */

.test-phrase.drona {
  font-family: drona;
  font-size: 60px;
  word-break: break-all;
}

/* -------- Glyphs -------- */

p.glyph {
    font-family: drona;
    font-size: 36px;
  }