/* -------- Typefaces -------- */

/*- Testing Fonts -*/


@font-face {
font-family: drona;
src: url(../fonts/Drona.ttf) format("truetype");
}

/* -------- Font Title -------- */

.font-name-title h1.drona {
    font-family: drona;
    font-size: 128px;
    font-weight: 400;
    line-height: 1em;;
    margin: 40px 0 50px 0;
  }

@media(max-width: 540px) {
    .font-name-title h1.drona {
      font-size: 21.4vw;
    }
}

/* -------- Test Phrase -------- */

.test-phrase.drona {
  font-family: drona;
  font-size: 60px;
  overflow-wrap: break-word;
  margin: 16px 0;
}

@media(max-width: 540px) {
  .test-phrase.drona {
    font-size: 40px;
  }
}

/* -------- Glyphs -------- */

p.glyph {
    font-family: drona;
    font-size: 36px;
  }