
  /* -------- Typefaces -------- */

  /*- Interface Fonts -*/

  @font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/inter/Inter-Regular.ttf) format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "Inter-Semibold";
    src: url(../fonts/inter/Inter-SemiBold.ttf) format("truetype");
    font-weight: semibold;
  }

  @font-face {
    font-family: "Inter-Extrabold";
    src: url(../fonts/inter/Inter-ExtraBold.ttf) format("truetype");
    font-weight: extrabold;
  }

  /* -------- Colors -------- */

  :root {
    --text-black: #222222;
    --sky-blue: #2BC6E8;
    --hover-red:#FF4242;
  }

  /* -------- Global -------- */

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  h1 {
    letter-spacing: normal;
  }

  .body-width {
    width: 86%;
    max-width: 700px;
  }

  .font-page hr.divider {
    width: 100%;
    border-top: var(--sky-blue) 1px solid;
    margin: 40px 0;
  }

  @media(max-width:540px) {

    .body-width {
      width: 100%;
      padding: 0px 7%;
    }

    .font-page hr.divider {
      margin: 30px 0;
    }

  }
   
  /* -------- Header -------- */

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .head-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin-top: 40px;
  }

  .font-page .head-wrap {
    color: var(--sky-blue);    
  }

  .logo {
    font-family: "Inter-Extrabold";
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    text-decoration: none;
  }

  .font-page .logo {
    color: var(--sky-blue);
  }

  .font-page .logo:hover {
    color: var(--hover-red);
  }

  .font-info p {
    font-family: Inter-Semibold;
    font-size: 13px;
    margin: 0;
  }

  .font-info h4 {
    font-family: Inter-Semibold;
    font-size: 16px;
    margin: 0;
  }

  @media(max-width: 540px) {

    .head-wrap {
      margin-top: 30px;
      align-items: flex-end;    
    }

    .logo {
      font-size: 20px;
    }
  }


  /* -------- Main -------- */

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px; 
  }

  .body-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .font-name-title h1 {
    color: var(--sky-blue);
    line-height: 1em;
    margin: 0
  }

  /* -------- Page Note -------- */

  .note-wrap {
    width: 100%;
  }

  .font-page .note-wrap {
    color: var(--sky-blue);
  }

  .note-mark {
    font-family: Inter-Regular;
    font-size: 40px;
    line-height: 0.8em;
    margin: 0;
  }

  .note-text {
    font-family: Inter-Semibold;
    font-size: 16px;
    margin: 0;
    max-width: 400px;
  }

  /* -------- Section -------- */

  .section {
    margin-bottom: 30px;
  }

  /* -------- Section Title -------- */

  .section-title {
    color: var(--sky-blue);
    margin-bottom: 30px;
  }

  .section-title p {
    font-family: Inter-Regular;
    font-size: 14px;
    margin: 0;
  }

  .section-title h3 {
    font-family: Inter-Extrabold;
    font-size: 18px;
    margin: 0;
  }

  /* -------- Paragraphs -------- */

  .text-wrap {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-bottom: 16px;
  }

  .para-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .para-info {
    position: relative;
    left: auto;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    color: var(--sky-blue);
    font-size: 14px;
  }

  .para-font {
    font-family: Inter-Extrabold;
    margin: 0 ;
  }

  .para-font-size {
    font-family: Inter-regular;
    margin: 0;
  }

  .font-size-16 {
    font-size: 16px;
  }

  .font-size-18 {
    font-size: 18px;
  }

  @media(min-width:920px) {

    .para-info {
      position: absolute;
      left: 102%;
      color: var(--sky-blue);
      font-size: 14px;
      display: block;
    }

    .para-font {
      font-family: Inter-Extrabold;
      margin:  0 ;
    }

  }

  /* -------- Subtitle Sizes -------- */

  .subtitle-sizes p {
    font-size: 36px;
    margin: 0;
  }

  .title-sizes p {
    font-size: 80px;
    margin: 0;
  }

  /* -------- Glyphs -------- */

  div.glyph-group {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  @media(max-width: 720px) {

    div.glyph-group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    p.glyph {
      margin: 0.5em 0;
    }

  }