/* -------- Typefaces -------- */

@font-face {
    font-family: awaragira;
    src: url(../fonts/Awaragira-Regular.ttf) format("truetype");
    font-weight: normal;
    }

@font-face {
    font-family: drona;
    src: url(../fonts/Drona.ttf) format("truetype");
    font-weight: normal;
    }

@font-face {
    font-family: varusi;
    src: url(../fonts/Varusi-Regular.ttf) format("truetype");
    font-weight: normal;
    }

@font-face {
    font-family: ravana;
    src: url(../fonts/Ravana-Display.ttf) format("truetype");
    font-weight: normal;
    }

/* -------- Header -------- */

#home-page {
    color: var(--text-black);
}

#home-page hr.divider {
    width: 100%;
    border-top: #AAAAAA 1px solid;
    margin: 40px 0;
  }

#home-page .head-wrap img {
    width: 80px
}

#home-page .font-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#home-page .font-link a {
    display: block;
    color: var(--text-black);
    text-decoration: none;
}

#home-page .font-link a:hover {
    display: block;
    color: var(--hover-red);
}

/* -------- Font-Link Fonts -------- */

.font-link a.awaragira {
    font-family: 'awaragira';
    font-size: 100px;
    line-height: 1;
}

.font-link a.drona {
    font-family: 'drona';
    font-size: 90px;
    line-height: 1;
}

.font-link a.varusi {
    font-family: 'varusi';
    font-size: 100px;
    line-height: 1;
}

.font-link a.ravana {
    font-family: 'ravana';
    font-size: 88px;
    line-height: 1;
}

@media(max-width: 450px) {

    .font-link a.awaragira {
        font-size: 19vw;
    }

    .font-link a.drona {
        font-size: 18vw;
    }

    .font-link a.varusi {
        font-size: 20vw;
    }

    .font-link a.ravana {
        font-size: 18vw;
    }
}