/* -------- Typefaces -------- */

@font-face {
    font-family: awaragira;
    src: url(../fonts/Awaragira-Regular.ttf) format("truetype");
    font-weight: normal;
    }

@font-face {
    font-family: drona;
    src: url(../fonts/Quantarooda.ttf) format("truetype");
    font-weight: normal;
    }

@font-face {
    font-family: varusi;
    src: url(../fonts/Varusi-Regular.ttf) format("truetype");
    font-weight: normal;
    }

/* -------- Header -------- */

#home-page {
    color: var(--text-black);
}

#home-page .head-wrap {
    margin: 40px 0;
}

#home-page .head-wrap h3 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}

#home-page .note-wrap {
    width: 86%;
    max-width:700px;
    padding: 40px 0;
    border-top: 1px solid var(--text-black);
    border-bottom: 1px solid var(--text-black);
}

#home-page .font-link {
    padding: 46px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-black);
}

#home-page .font-link a {
    display: block;
    color: var(--text-black);
    text-decoration: none;
}

/* -------- Font-Link Fonts -------- */

.font-link a.awaragira {
    font-family: 'awaragira';
    font-size: 100px;
    line-height: 1;
}

.font-link a.drona {
    font-family: 'drona';
    font-size: 90px;
    line-height: 1;
}

.font-link a.varusi {
    font-family: 'varusi';
    font-size: 100px;
    line-height: 1;
}

@media(max-width: 450px) {

    .font-link a.awaragira {
        font-size: 26.5vw;
    }

    .font-link a.drona {
        font-size: 21.4vw;
    }

    .font-link a.varusi {
        font-size: 26.5vw;
    }
}