
  /* -------- Typefaces -------- */

  @font-face {
    font-family: barlow;
    src: url(fonts/Barlow-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: awaragira;
    src: url(fonts/Awaragira-Regular.ttf) format("truetype")
  }

  @font-face {
    font-family: yaldevi;
    src: url(fonts/YaldeviColombo-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: malithi;
    src: url(fonts/Malithi-Web.ttf) format("truetype");
  }

  @font-face {
    font-family: noto;
    src: url(fonts/NotoSansSinhala-Regular.ttf) format("truetype");
  }

  /* -------- Global -------- */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 7%;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }

  h1 {
    letter-spacing: normal;
  }

   
  /* -------- Header -------- */

  header {
    width: 100%;
    max-width: 1000px;
    padding-bottom: 60px;
  }

  .nav-link {
    text-decoration: none;
    color: black;
    margin-right: 12px;
  }

  /* -------- Main -------- */

  main {
    width: 100%;
    max-width: 1000px;
  }

  /* -------- Paragraphs -------- */

  .text-wrap {
    width: 100%;
    max-width: 500px;
    margin-bottom: 16px;
  }

  .source-sans {
    font-family: barlow;
  }

  .roboto {
    font-family: roboto;
  }

  .pabalu {
    font-family: "Pabalu v2";
    font-size: 17px;
    line-height: 1.4;
  }

  .awaragira {
    font-family: "awaragira";
  }

  .malithi {
    font-family: malithi;
  }

  p.noto {
    font-family: noto;
    font-size: 15px;
    line-height: 1.5em;
  }

  .yaldevi {
    font-family: yaldevi;
  }

  p.display {
    font-size: 36px
  }