
  /* -------- Typefaces -------- */

  @font-face {
    font-family: barlow;
    src: url(fonts/Barlow-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: sinhalaweb;
    src: url(fonts/Sinhala-Web.ttf) format("truetype")
  }

  @font-face {
    font-family: yaldevi;
    src: url(fonts/YaldeviColombo-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: malithi;
    src: url(fonts/Malithi-Web.ttf) format("truetype");
  }

  /* -------- Global -------- */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 7%;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }

  h1 {
    letter-spacing: normal;
  }

  /* -------- Paragraphs -------- */

  .text-wrap {
    width: 86%;
    max-width: 500px;
    margin-bottom: 16px;
  }

  .source-sans {
    font-family: barlow;
  }

  .roboto {
    font-family: roboto;
  }

  .sinhalaweb {
    font-family: "sinhalaweb";
  }

  .malithi {
    font-family: malithi;
  }

  .yaldevi {
    font-family: yaldevi;
  }

  p.display {
    font-size: 36px
  }