
  /* -------- Typefaces -------- */

  @font-face {
    font-family: 'source sans';
    src: url(https://github.com/rajitha-manamperi/typetest/fonts/SourceSansPro-Regular.ttf);
  }

  @font-face {
    font-family: roboto;
    src: url(https://github.com/rajitha-manamperi/typetest/fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: 'web 02';
    src: url(https://github.com/rajitha-manamperi/typetest/fonts/SinhalaWeb02.ttf);
  }

  @font-face {
    font-family: 'web 03';
    src: url(https://github.com/rajitha-manamperi/typetest/fonts/SinhalaWeb03.otf);
  }

  @font-face {
    font-family: yaldevi;
    src: url(https://github.com/rajitha-manamperi/typetest/fonts/YaldeviColombo-Regular.ttf);
  }

  /* -------- Global -------- */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  /* -------- Paragraphs -------- */

  .text-wrap {
    width: 86%;
    max-width: 500px;
    margin-bottom: 16px;
  }

  .source-sans {
    font-family: s"ource sans";
  }

  .roboto {
    font-family: roboto;
  }

  .web-02 {
    font-family: "web 02";
  }

  .web-03 {
    font-family: "web 03";
  }

  .yaldevi {
    font-family: yaldevi;
  }